---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install base packages
  apt:
    name:
      - curl
      - wget
      - git
      - jq
      - htop
      - tmux
      - python3-pip
      - python3-venv
      - nodejs
      - npm
    state: present

- name: Create symlinks to persistent storage
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: yes
    owner: ubuntu
    group: ubuntu
  loop:
    - { src: "{{ persistent_path }}/n8n-data", dest: "/home/ubuntu/.n8n" }
    - { src: "{{ persistent_path }}/projects", dest: "/home/ubuntu/projects" }
    - { src: "{{ persistent_path }}/venv", dest: "/home/ubuntu/venv" }

- name: Set environment variables system-wide
  lineinfile:
    path: /etc/environment
    line: "{{ item }}"
  loop:
    - 'PERSISTENT="{{ persistent_path }}"'
    - 'HF_HOME="{{ persistent_path }}/models"'
    - 'TRANSFORMERS_CACHE="{{ persistent_path }}/models"'

- name: Set environment variables for ubuntu user
  lineinfile:
    path: /home/ubuntu/.bashrc
    line: "{{ item }}"
  loop:
    - 'export PERSISTENT="{{ persistent_path }}"'
    - 'export HF_HOME="{{ persistent_path }}/models"'
    - 'export TRANSFORMERS_CACHE="{{ persistent_path }}/models"'
    - 'export PATH="$HOME/venv/bin:$PATH"'
